{% extends 'base.html' %}
{% block content %}
<h2>Проживание</h2>
<p>Проживание участников совещания возможно в отеле <b>7Peaks Family Resort</b> &mdash; <a href="https://7peaks.ru/" target="_blank" rel="noopener" style="color: blue; text-decoration: underline;">https://7peaks.ru/</a></p>
<p><b>Адрес:</b> Карачаево-Черкесская Республика, с. Архыз, пос. Романтик, ул. Горная 24.</p>
<ul>
    <li>В отеле <b>7Peaks Family Resort</b> участникам совещания по промокоду <b>«ЭХОС»</b> предоставляется скидка <b>10%</b>.</li>
</ul>
{% endblock %}
