{% extends 'base.html' %}
{% block content %}
  <h2>ДОРОГИЕ КОЛЛЕГИ!</h2>
  <p>Приглашаем Вас принять участие в XXI Всероссийском Совещании «Электрохимия органических соединений» ЭХОС-2026, которое будет проходить <b>с 12 по 16 октября 2026 года</b> в <b>Карачаево-Черкесской Республике, с. Архыз, пос. Романтик</b>.</p>
  <p>Целью совещания является обсуждение последних достижений в области электрохимии органических и элементоорганических соединений, современной энергетики и малотоннажной химии, которые будут способствовать прогрессу в этой важной с теоретической и практической точки зрения области знаний.</p>
  <p>Cовещание посвящено 100-летию со дня рождения <b>Андрея Петровича Томилова</b> — выдающегося учёного в области электрохимии органических соединений, лауреата Ленинской премии, профессора, доктора технических наук.</p>
  <p>А.П. Томилов известен исследованиями в области органического электросинтеза и электрохимической функционализации различных классов органических соединений. Около 20 различных процессов органического электросинтеза, выполненных с участием Томилова, прошли опытно-промышленные испытания. Под его руководством создано первое в СССР промышленное производство органического электросинтеза: технология адиподинитрила. Им опубликовано более 450 трудов, более 130 патентов, 12 монографий, в том числе «Электрохимия органических соединений», 1968; «Электросинтез органических соединений», 1976 г. Двухтомная монография по электрохимии элементоорганических соединений (1985 и 1986 г.) до сих пор является одним из наиболее полных изданий в мире по данной тематике. А.П. Томилов основал научную школу по электрохимии органических соединений (ГосНИИОХТ), подготовившую 35 кандидатов и 6 докторов наук, возглавлял секцию ЭХОС в Совете РАН, организовывал совещания и школы ЭХОС (с 1950-х по 2018 г.).</p>
  <br>
  <h3>НАПРАВЛЕНИЯ РАБОТЫ СОВЕЩАНИЯ</h3>
  <ul>
    <li>Электрохимические превращения органических и элементоорганических соединений</li>
    <li>Медиаторный, парный, энантиоселективный электросинтез</li>
    <li>Электрохимическая полимеризация, электропроводящие полимеры, электромембранные процессы</li>
    <li>Технологии органической электрохимии для устройств хранения и преобразования энергии</li>
    <li>Фото-, био- и электрокатализ</li>
    <li>Физико-химические методы исследования материалов и систем для органической электрохимии</li>
    <li>Искусственный интеллект в науке, образовании и химической промышленности</li>
  </ul>
  <br>
  <h3>ПРОГРАММА ВКЛЮЧАЕТ:</h3>
  <ul>
    <li>пленарные лекции;</li>
    <li>приглашенные доклады;</li>
    <li>устные доклады;</li>
    <li>стендовые сообщения;</li>
  </ul>
{% endblock %}
