{% extends 'base.html' %}
{% block content %}
  <h2>ДОРОГИЕ КОЛЛЕГИ!</h2>
  <p>Приглашаем Вас принять участие в XXI Всероссийском Совещании «Электрохимия органических соединений» ЭХОС-2026, которое будет проходить <b>с 12 по 16 октября 2026 года</b> в <b>Карачаево-Черкесской Республике, с. Архыз, пос. Романтик, 7Peaks Family Resort</b>.</p>
  <p>Целью совещания является обсуждение последних достижений в области электрохимии органических и элементоорганических соединений, современной энергетики и малотоннажной химии, которые будут способствовать прогрессу в этой важной с теоретической и практической точки зрения области знаний.</p>
  <br>
  <h3>НАПРАВЛЕНИЯ РАБОТЫ СОВЕЩАНИЯ</h3>
  <ul>
    <li>Электрохимические превращения органических и элементоорганических соединений</li>
    <li>Медиаторный, парный, энантиоселективный электросинтез</li>
    <li>Электрохимическая полимеризация, электропроводящие полимеры, электромембранные процессы</li>
    <li>Технологии органической электрохимии для устройств хранения и преобразования энергии</li>
    <li>Фото-, био- и электрокатализ</li>
    <li>Физико-химические методы исследования материалов и систем для органической электрохимии</li>
    <li>Искусственный интеллект в науке, образовании и химической промышленности</li>
  </ul>
  <br>
  <h3>ПРОГРАММА ВКЛЮЧАЕТ:</h3>
  <ul>
    <li>пленарные лекции;</li>
    <li>приглашенные доклады;</li>
    <li>устные доклады;</li>
    <li>стендовые сообщения;</li>
  </ul>
{% endblock %}
